/* This file overrides the default colors to provide a light theme */

body {
      background: #222222;
 }

a {
    color: #b9b9b9;
}

  a:hover {
     color: #bbbbbb;
 }

  .annotation {
     color: #114488;
 }


 h1 {
    color: #b9b9b9;
 }

 h2, h3, h4, .signature, .navLink, .abstract{
    color: #b9b9b9;
 }

 p, ul {
     color: #b9b9b9;
 }
